@import 'o-colors/main';
@import 'components/core/main';

html, body {
	height: 100%;
    margin: 0;
    width: 100%;
    font-size:18px;
}

h2{
	max-width: 620px;
	width:100%;
}

sup{
	top: auto!important;
}

figcaption{
	max-width: 600px;
	padding: 10px;
	margin: 0 auto;
}

.yuge{
	max-width: 1200px;
	margin: 0 auto;
	@media screen and (max-width: 768px) {
    	display: none!important;
  	}
	
}
.large{
	max-width: 900px;
	margin: 0 auto;
	@media screen and (max-width: 768px) {
    	display: none!important;
  	}
}
.medium{
	display: none!important;
	@media screen and (max-width: 768px) {
    	display: block!important;
  	}
	@media screen and (max-width: 500px) {
    	display: none!important;
  	}
}
.small{
	display: none!important;
	@media screen and (max-width: 500px) {
    	display: block!important;
  	}
}

div.article-body p:nth-of-type(1)::first-letter { float: left; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; }

article p{
	text-align: left;
    margin: 12px 0;
}

.article__byline a{
	color:#9e2f50;
	border-bottom:none;
}

.subhead.subhead--crosshead {
    border-bottom: 1px solid #000;
    margin: 1em auto 12px;
}

.story-fact-card-holder {
    position: relative;
    display: inline-block;
    float: right;
    width: 40%;
    margin: 0!important;
    @media (max-width: 800px){
	    width: inherit;
	}
	&.left{
    	float: left;
	}
}

.story-fact-card {
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 #cec6b9;
    zoom: 1;
    background-color: #fff;
    overflow: hidden;
    width: 260px;
    display: inline-block;
    &.left{
    	float:right;
    }
}

.story-fact-words {
	font-family: MetricWeb,sans-serif;
    color: #777;
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
    float: right;
    width: 140px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: right;
}

.animation {
	margin: 5px 0 5px 10px;
	width:5em;
	height:5em;
	display: inline-block;
	background-size: cover;
    background-position-x: 0;
}

.animation#one{
	background-image:url('./assets/cyclist1.png');
    -webkit-animation: loop .4s steps(3) infinite;
    animation: loop .4s steps(3) infinite;
}

.animation#two{
	background-image:url('./assets/cyclist2.png');
    -webkit-animation: loop2 .4s steps(3) infinite;
    animation: loop2 .4s steps(3) infinite;
}

@keyframes loop{
	0%{background-position:0 0}
	100%{background-position:105% 0}
}

@keyframes loop2{
	0%{background-position:0 0}
	100%{background-position:103% 0}
}

#backdrop{fill:#fff1e0;}
text{cursor:default;font-size:12px;}
.tick text,.hard.tick{font-size:14px;fill:#74736c;}
.axis path{fill:none;stroke:#74736c;stroke-width:1px;shape-rendering:crispEdges;}
.tick line{stroke:#74736c;shape-rendering:crispEdges;}
.title{font-size:16px;fill:#43423e;font-weight:500;}
.axisTitle{font-size:12px;fill:#74736c;}
.plotTitle{font-size:14px;fill:#74736c;}
.chartTitle{font-size:26px;}
.chartSubTitle{font-size:16.5px;fill:#74736c;}
.footnote{font-size:13px;fill:#74736c;}
.annotation{font-size:12px;fill:#74736c;}
.chartOverlay{font-size:12px;font-weight:bold;fill:#9d9d98;text-shadow:3px 3px 2px #FFF1E0, -3px -3px 2px #FFF1E0, -3px 3px 2px #FFF1E0, 3px -3px 2px #FFF1E0, -3px 0px 2px #FFF1E0, 3px 0px 2px #FFF1E0;}
.shadow{text-shadow:3px 3px 2px #FFF1E0, -3px -3px 2px #FFF1E0, -3px 3px 2px #FFF1E0, 3px -3px 2px #FFF1E0, -3px 0px 2px #FFF1E0, 3px 0px 2px #FFF1E0;text-rendering:geometricPrecision;}
.light{fill:#D7CEC0;font-weight:bold;font-size:18px;}
.curved{font-size:16px;fill:#74736c;opacity:0.7;}
.legend text{font-size:16px;}
.anno text{font-size:13px;}
g.axis path.domain{stroke:none;}
g.x.axis .tick text{text-anchor:start!important;}

.calc-holder{
	padding:10px;
	width:100vw;
	max-width:900px;
}

.input-holder{
	max-width: 625px;
	margin: 1em auto;
    padding: 0 0.75em;
}

.calc-holder{
	input{
		padding: 5px 0 5px;
		text-align:right;
		max-width: 4em;
    	background-color: #FFF;
    	border: none;
    	border-bottom: 1px dashed #9e2f50;
    	border-radius: 5px;
    	&:hover{
    		background-color: #FFFCF7;
    	}
	}
	button{
		padding: 10px;
		border-radius: 10px;
		margin-top:10px;	
	}
}

#drawCurve{
	position: relative;
      background-color: #9b164f;
      text-align: left;
      margin-right: 12px;
      font-size: 1.05rem;
      font-weight: 400;
      padding-left: 16px;
      padding-right: 26px;
      box-sizing: border-box;
      color: #fff;
      border-radius: 4px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border: none;
      &:after {
        content: " ";
        background: url('https://image.webservices.ft.com/v1/images/raw/fticon:arrow-right?height=44&tint=ffffff,ffffff&source=ig_wrr') no-repeat center center;
        background-size: 16px 16px;
        position: absolute;
        bottom: 2.5px;
        right: 0px;
        width: 16px;
        height: 16px;
        margin: 0 7px 8px 0;
      }
    }

#calculator{
	margin-top:1em;
	width:100%;
	height:100%;
}

#results{
	display:none;
}

div.fyre:nth-of-type(2){
	display:none;
}

div.o-comment-ui--terms-message:nth-child(5){
	display:none;
}